{{ define "main" }}
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

        {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <ul class="posts-list">
                    {{- range .Pages }}
                    <li class="post-item">

                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                            </a>
                            <!-- Display tags  -->
                            {{- with .Params.tags }}
                            <div class="list-tags" >
                                    {{- range sort . -}}
                                <span><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">  #{{.}}</a></span>
                                    {{- end }}
                                {{- end }}
                            </div>
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end }}
    </main>
{{ end }}
